<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="Directories" value="C:\reminst\WebGuiAutomation\Trunk,D:\Service\TestPerformer;C:\reminst\WebGuiAutomation\Trunk,D:\Web\bin\TestPerformer"/>-->
    <add key="Directories" value="D:\TrunkScripts,D:\Debug"/>
    <add key="AssemblyName" value="WebGuiAutomation.Scripts.dll"/>
    <add key="BaseType" value="AppAssureTest"/>
    <add key="EmailSubject" value="Some changes in WebGuiAutomation tests"/>
    <add key="EmailBody" value="After last update, some small changes have been take place. We changed some tests in our UI testing. Please, take a look and check your own smokes:
         
         Added classes:
         
        {0}
        -----------
        
        Removed classes:
        
        {1}
        ----------
        
         Added properties:
         
         {2}
         ---------
         
         Removed properties:
         
         {3}
         ---------
         "/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITaskWcfService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/TaskService/service" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITaskWcfService" contract="ITaskWcfService" name="WSHttpBinding_ITaskWcfService">
        <identity>
          <servicePrincipalName value="host/h77mpro500gb-PC" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>