<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--description for file with subtitles-->
    <targets async="false">
      <target name="srtfile" xsi:type="File"
              fileName="log\${date:format=yyyy-MM-dd}\UpdateService.log"
              archiveNumbering="Rolling"
              maxArchiveFiles="10"
              archiveAboveSize="26214400"
              concurrentWriteAttemptDelay="10"
              deleteOldFileOnStartup="true"
              enableFileDelete="true"
              keepFileOpen="true"
              layout="${date:format=HH\:mm\:ss.ff}${newline}${message}${exception:format=tostring}${newline}"
       />
      
      <!--<target name="logfile" xsi:type="File"
              fileName="${gdc:item=ReportsFolerPath}\WebGuiAutomation.log"
              archiveNumbering="Rolling"
              maxArchiveFiles="10"
              archiveAboveSize="26214400"
              concurrentWriteAttemptDelay="10"
              keepFileOpen="true"
              layout="${level:upperCase=true} ${date:format=yyyy-MM-dd HH\:mm\:ss.ff} [${threadid}] - ${message}${newline}Exception: ${newline}${exception:format=tostring}${newline}Src: ${logger}${newline}Ctx: ${ndc}${newline}"
      />-->
      
      <target name="console" xsi:type="ColoredConsole"
              layout="${date:format=HH\:mm\:ss.ff}${newline}${message}${exception:format=tostring}${newline}"
      />
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" writeTo="console,srtfile"/>
    </rules>
  </nlog>
