<?xml version="1.0" encoding="utf-8" ?>
<!-- Contains the IoC bindings configuration, broken up into logical areas -->
<castle>
  <properties>
  </properties>

  <facilities>
  </facilities>

  <components>
  </components>
  
  <include uri="file://Castle.Windsor.TestPeformer.config" />
  <include uri="file://Castle.Windsor.TestPeformerCore.config" />
  <include uri="file://Castle.Windsor.Logging.config" />
  
</castle>