<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <properties>
  </properties>

  <facilities>
  </facilities>

  <components>

    <component
      id="AppAssureTestRegistrationManager"
      service="WebGuiAutomation.TestPerformerCore.Testing.ITestRegistrationManager, WebGuiAutomation.TestPerformerCore"
      type="WebGuiAutomation.TestPerformerCore.Testing.TestRegistrationManager, WebGuiAutomation.TestPerformerCore">
      <parameters>
        <!--Scripts assembly path-->
        <assembly>..\..\..\WebGuiAutomation.Scripts\bin\Debug\WebGuiAutomation.Scripts.dll</assembly>
      </parameters>
    </component>

    <component
      id="AppAssureSuiteService"
      service="WebGuiAutomation.TestPerformerCore.Testing.ISuiteService, WebGuiAutomation.TestPerformerCore"
      type="WebGuiAutomation.TestPerformerCore.Testing.SuiteService, WebGuiAutomation.TestPerformerCore">
    </component>

    <component
      id="AppAssurePathValidator"
      service="WebGuiAutomation.TestPerformerCore.Helpers.IPathValidator, WebGuiAutomation.TestPerformerCore"
      type="WebGuiAutomation.TestPerformerCore.Helpers.PathValidator, WebGuiAutomation.TestPerformerCore">
    </component>

  </components>
</castle>