<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="AccountsEntities" connectionString="metadata=res://*/Implementations.SqlCEModels.Models.csdl|res://*/Implementations.SqlCEModels.Models.ssdl|res://*/Implementations.SqlCEModels.Models.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=D:\accounts.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="TasksFolder" value="D:\Tasks"/>
    <add key="LogsFolder" value="D:\Logs"/>
    <add key="PsExec" value="D:\PsExec.exe"/>
    <add key="PsExecUserName" value="Administrator"/>
    <add key="PsExecUserPassword" value="123asdQ"/>
    <add key="AutoDeploymentConsole" value="AutoDeploy\AutodeploymentConsole.exe"/>
    <add key="HyperVDeploySctipt" value="D:\Projects\Appasure\replay\testing\TestControlTool\TestControlTool.TaskService\bin\Debug\HyperVAutoDeploy\Autodeployment.ps1"/>
    <add key="TestPerformerRunScript" value="D:\Projects\Appasure\replay\testing\TestControlTool\TestControlTool.TaskService\bin\Debug\TestPerformer\RunTests.ps1"/>
    <add key="TestPerformerReleaseRunScript" value="D:\Projects\Appasure\replay\testing\TestControlTool\TestControlTool.TaskService\bin\Debug\TestPerformer\RunTests.ps1"/>
    <add key="TestPerformer" value="D:\Projects\Appasure\replay\testing\TestControlTool\TestControlTool.TaskService\bin\Debug\TestPerformer\WebGuiAutomation.TestPerformer.exe"/>
    <add key="TestPerformerScripts" value="D:\Projects\Appasure\replay\testing\TestControlTool\TestControlTool.TaskService\bin\Debug\TestPerformer\WebGuiAutomation.Scripts.dll"/>
    <add key="TestPerformerRelease" value="D:\Projects\Appasure\replay\testing\TestControlTool\TestControlTool.TaskService\bin\Debug\TestPerformerRelease\WebGuiAutomation.TestPerformer.exe" />
    <add key="TestPerformerReleaseScripts" value="D:\Projects\Appasure\replay\testing\TestControlTool\TestControlTool.TaskService\bin\Debug\TestPerformerRelease\WebGuiAutomation.Scripts.dll" />
    <add key="VCenterMachineConfiguringScript" value="\\10.35.7.150\reminst\ConfigureVCenterMachine.ps1" />
    <add key="HyperVMachineConfiguringScript" value="\\10.35.7.150\reminst\ConfigureChallengerVM.ps1" />
    <add key="SmtpServer" value="smtp.yandex.ua"/>
    <add key="SmtpPort" value="587"/>
    <add key="SmtpSSL" value="false"/>
    <add key="SendFrom" value="testcontroltool@yandex.ua"/>
    <add key="EmailLogin" value="testcontroltool"/>
    <add key="EmailPassword" value="123asdQ"/>
    <add key="ProcessKiller" value="D:\TestControlTool.ProcessKiller.exe"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="TaskServiceBehavior" name="TestControlTool.TaskService.TaskWcfService">
        <endpoint address="" binding="wsHttpBinding" contract="TestControlTool.TaskService.ITaskWcfService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/TaskService/service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TaskServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>