<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="AccountsEntities" connectionString="metadata=res://*/Implementations.SqlCEModels.Models.csdl|res://*/Implementations.SqlCEModels.Models.ssdl|res://*/Implementations.SqlCEModels.Models.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=D:\accounts.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="TasksFolder" value="D:\Tasks"/>
    <add key="LogsFolder" value="D:\Logs"/>
    <add key="AutoDeploymentConsole" value="AutoDeploy\AutodeploymentConsole.exe"/>
    <add key="TestPerformer" value="D:\Projects\Appasure\replay\testing\TestControlTool\TestControlTool.TaskService\bin\Debug\TestPerformer\WebGuiAutomation.TestPerformer.exe"/>
    <add key="TestPerformerScripts" value="D:\Projects\Appasure\replay\testing\TestControlTool\TestControlTool.TaskService\bin\Debug\TestPerformer\WebGuiAutomation.Scripts.dll"/>
    <add key="SmtpServer" value="smtp.yandex.ua"/>
    <add key="SmtpPort" value="587"/>
    <add key="SmtpSSL" value="false"/>
    <add key="SendFrom" value="testcontroltool@yandex.ua"/>
    <add key="EmailLogin" value="testcontroltool"/>
    <add key="EmailPassword" value="123asdQ"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="TestControlTool.TaskService.TaskWcfService"
               behaviorConfiguration="TaskServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/TaskService/service"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="TestControlTool.TaskService.ITaskWcfService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TaskServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>