<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <properties>
  </properties>

  <facilities>
  </facilities>

  <components>

    <component
      id="AppAssureCommandContainer"
      service="WebGuiAutomation.TestPerformer.Commands.ICommandContainer, WebGuiAutomation.TestPerformer"
      type="WebGuiAutomation.TestPerformer.Commands.CommandContainer, WebGuiAutomation.TestPerformer">
    </component>

  </components>
</castle>