<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <properties>
  </properties>

  <facilities>
  </facilities>

  <components>

    <component
      id="CommandContainer"
      service="TestPerformer.Commands.ICommandContainer, TestPerformer"
      type="TestPerformer.Commands.CommandContainer, TestPerformer">
    </component>

  </components>
</castle>