<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <properties>
  </properties>

  <facilities>
  </facilities>

  <components>
    <component
      id="ie"
      service="WebGuiAutomation.SeleniumWebElements.IBrowserDriver, WebGuiAutomation.SeleniumWebElements"
      type="WebGuiAutomation.SeleniumWebElements.WebDrivers.InternetExplorerWebDriver, WebGuiAutomation.SeleniumWebElements">
    </component>
    <component
      id="chrome"
      service="WebGuiAutomation.SeleniumWebElements.IBrowserDriver, WebGuiAutomation.SeleniumWebElements"
      type="WebGuiAutomation.SeleniumWebElements.WebDrivers.ChromeWebDriver, WebGuiAutomation.SeleniumWebElements">
    </component>
    <component
      id="firefox"
      service="WebGuiAutomation.SeleniumWebElements.IBrowserDriver, WebGuiAutomation.SeleniumWebElements"
      type="WebGuiAutomation.SeleniumWebElements.WebDrivers.FirefoxWebDriver, WebGuiAutomation.SeleniumWebElements">
    </component>
  </components>
</castle>