<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <properties>
  </properties>

  <facilities>
  </facilities>

  <components>
    
    <component
      id="TestPerformerLogger"
      service="TestPerformer.Logging.ILogger, TestPerformer.Logging"
      type="TestPerformer.Logging.TestPerformerLogger, TestPerformer.Logging">
    </component>

  </components>
</castle>