<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <properties>
  </properties>

  <facilities>
  </facilities>

  <components>
    
    <component
      id="AppAssureLogger"
      service="WebGuiAutomation.Logging.ILogger, WebGuiAutomation.Logging"
      type="WebGuiAutomation.Logging.AppAssureLogger, WebGuiAutomation.Logging">
    </component>

  </components>
</castle>