<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <properties>
  </properties>

  <facilities>
  </facilities>

  <components>
    
    <component
      id="SuiteService"
      service="TestPerformer.Core.Testing.ISuiteService, TestPerformer.Core"
      type="TestPerformer.Core.Testing.SuiteService, TestPerformer.Core">
    </component>

    <component
      id="PathValidator"
      service="TestPerformer.Core.Helpers.IPathValidator, TestPerformer.Core"
      type="TestPerformer.Core.Helpers.PathValidator, TestPerformer.Core">
    </component>
    
  </components>
</castle>