<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AccountsEntities" connectionString="metadata=res://*/Implementations.SqlCEModels.Models.csdl|res://*/Implementations.SqlCEModels.Models.ssdl|res://*/Implementations.SqlCEModels.Models.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=accounts2.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="AutodeploymentTimeout" value="4:0:0" />
    <add key="GetJobsInfoSleepTime" value="0:0:30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TasksFolder" value="D:\Tasks"/>
    <add key="LogsFolder" value="D:\Logs"/>
    <add key="AutoDeploymentConsole" value="AutoDeploy\AutodeploymentConsole.exe"/>
    <add key="TestPerformer" value="D:\Projects\Appasure\replay\testing\TestControlTool\TestControlTool.Core\TestPerformer\WebGuiAutomation.TestPerformer.exe"/>
    <add key="HyperVDeploySctipt" value="D:\Projects\Appasure\replay\testing\TestControlTool\TestControlTool.Core\HyperVAutoDeploy\Autodeployment.ps1"/>
    <add key="PsExec" value="D:\PsExec.exe"/>
    <add key="PsExecUserName" value="Administrator"/>
    <add key="PsExecPassword" value="123asdQ"/>
    <add key="TestPerformerScripts" value=".\TestPerformer\WebGuiAutomation.Scripts.dll"/>
    <add key="VCenterMachineConfiguringScript" value="\\10.35.7.150\reminst\ConfigureVCenterMachine.ps1" />
    <add key="HyperVMachineConfiguringScript" value="\\10.35.7.150\reminst\ConfigureChallengerVM.ps1" />
    <add key="SmtpServer" value="smtp.yandex.ua"/>
    <add key="SmtpPort" value="587"/>
    <add key="SmtpSSL" value="false"/>
    <add key="SendFrom" value="testcontroltool@yandex.ua"/>
    <add key="EmailLogin" value="testcontroltool"/>
    <add key="EmailPassword" value="123asdQ"/>
  </appSettings>
</configuration>