<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <properties>
  </properties>

  <facilities>
  </facilities>

  <components>

    <component
      id="AccountController"
      service="TestControlTool.Core.Contracts.IAccountController, TestControlTool.Core"
      type="TestControlTool.Core.Implementations.SqlCEAccountController, TestControlTool.Core">
    </component>
    
    <component
      id="TaskParser"
      service="TestControlTool.Core.Contracts.ITaskParser, TestControlTool.Core"
      type="TestControlTool.Core.Implementations.XmlTaskParser, TestControlTool.Core">
    </component>

    <component
      id="PasswordHash"
      service="TestControlTool.Core.Contracts.IPasswordHash, TestControlTool.Core"
      type="TestControlTool.Core.Implementations.Md5PasswordHash, TestControlTool.Core">
    </component>

  </components>
</castle>